<link rel="stylesheet" href="/stats/css/whaletracker.css" />
<link rel="stylesheet" href="/stats/css/current_log.css" />
<script defer src="/assets/js/app/match_log_sort.js"></script>

<div id="current-log-container" class="current-log-container">
  {Phoenix.HTML.raw(@current_log_html || "Loading current log…")}
</div>
